<div class="meals-container" *ngIf="meals.length > 0">
  <div
    *ngFor="let meal of meals; let mealIndex = index"
    class="meal-column-card"
  >
    <p-card class="meal-card">
      <ng-template pTemplate="header">
        <div class="meal-card-header-content">
          <div *ngIf="editingMealIndex !== mealIndex" class="meal-header-view">
            <h4 class="meal-title">{{ meal.name }}</h4>
            <div class="meal-kcal">
              {{ getMealKcal(meal) | number: "1.0-0" }} kcal
            </div>
            <div class="meal-header-actions">
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                class="meal-edit-btn p-button-sm p-button-text"
                (click)="startEditMeal(mealIndex, meal.name)"
                [pTooltip]="'builder.editMeal' | t"
                tooltipPosition="top"
                [attr.aria-label]="'builder.editMeal' | t"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="meal-delete-btn p-button-sm p-button-danger p-button-text"
                (click)="deleteMeal(mealIndex)"
                [pTooltip]="'builder.deleteMeal' | t"
                tooltipPosition="top"
                [attr.aria-label]="'builder.deleteMeal' | t"
              ></button>
            </div>
          </div>
          <div
            *ngIf="editingMealIndex === mealIndex"
            class="meal-header-edit p-inputgroup"
          >
            <input
              pInputText
              type="text"
              [(ngModel)]="editedMealName"
              [placeholder]="'builder.newName' | t"
              (keydown.enter)="saveEditMeal(mealIndex)"
              class="p-inputtext-sm edit-meal-name-input"
            />
            <button
              pButton
              type="button"
              icon="pi pi-check"
              class="meal-save-btn p-button-sm p-button-success p-button-text"
              (click)="saveEditMeal(mealIndex)"
              [pTooltip]="'builder.save' | t"
              tooltipPosition="top"
              [attr.aria-label]="'builder.saveNewName' | t"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-times"
              class="meal-cancel-btn p-button-sm p-button-secondary p-button-text"
              (click)="cancelEditMeal()"
              [pTooltip]="'builder.cancel' | t"
              tooltipPosition="top"
              [attr.aria-label]="'builder.cancelEdit' | t"
            ></button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="meal-items-list">
          <div
            *ngFor="let item of meal.items; let itemIndex = index"
            class="diet-item"
            (click)="selectItem(mealIndex, itemIndex)"
          >
            <div class="item-name heading-xs">{{ item.food.name }}</div>

            <div class="item-qty">
              <p-inputNumber
                [(ngModel)]="item.displayQuantity"
                (ngModelChange)="onItemInputChange(mealIndex, itemIndex)"
                inputId="'displayQty-' + mealIndex + '-' + itemIndex"
                mode="decimal"
                [min]="0"
                [step]="0.5"
                [showButtons]="true"
                [minFractionDigits]="0"
                [maxFractionDigits]="1"
                class="meal-item-quantity-input p-inputtext-sm"
              ></p-inputNumber>
            </div>

            <div class="item-measure">
              <p-select
                [placeholder]="'builder.measure' | t"
                class="meal-item-measure-dropdown p-inputtext-sm"
                appendTo="body"
                [options]="item.measures"
                [(ngModel)]="item.selectedMeasure"
                (ngModelChange)="onItemInputChange(mealIndex, itemIndex)"
                optionLabel="measure_name"
                optionValue="measure_name"
              ></p-select>
            </div>

            <div class="item-kcal">
              {{ getItemKcal(item) | number: "1.0-0" }} kcal
            </div>

            <div class="item-actions">
              <button
                pButton
                type="button"
                icon="pi pi-times"
                class="item-remove-btn p-button-sm p-button-danger p-button-text"
                (click)="
                  removeFoodFromDiet(mealIndex, itemIndex);
                  $event.stopPropagation()
                "
                [pTooltip]="'builder.removeItem' | t"
                tooltipPosition="top"
                [attr.aria-label]="'builder.removeItem' | t"
              ></button>
            </div>
          </div>
          <div
            *ngIf="!meal.items || meal.items.length === 0"
            class="empty-meal-message"
          >
            <i>{{ "builder.emptyMeal" | t }}</i>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
<p *ngIf="!meals || meals.length === 0">{{ "builder.noMeals" | t }}</p>
