:host {
  display: block;
}

.app-layout-container.grid > [class*="col-"] {
  padding: var(--spacing-md, 1rem);
  box-sizing: border-box;
}
.global-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-right: 1.7rem;
}
