.global-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-right: 1.7rem;
}

.totals {
  .total-item {
    margin: 0;
    padding-bottom: 0.25rem;
  }

  .total-item-last {
    padding-bottom: 0;
    margin-bottom: 1rem;
  }
}

.no-totals-message {
  margin-top: 1rem;
}

.section-title {
  margin: 0;
  margin-bottom: var(--spacing-sm, 0.5rem);
  color: var(--primary-color);
}

.app-layout-container.grid.align-start {
  align-items: flex-start;
}
