<div class="grid">
  <div class="col-12">
    <div class="global-actions">
      <button
        pButton
        type="button"
        label="Exportar (PDF)"
        icon="pi pi-file-pdf"
        (click)="exportToPdf.emit()"
        class="p-button-secondary"
      ></button>

      <input
        hidden
        type="file"
        id="import-json"
        accept=".json"
        (change)="onFileInput($event)"
        #fileImportInput
      />
    </div>
  </div>

  <div class="col-12 md:col-6 xl:col-12">
    <h3 class="section-title">Plano Alimentar Atual</h3>
    <app-diet-builder
      [meals]="meals"
      [availableMeasures]="availableMeasures"
      [selectedMealIndex]="selectedMealIndex"
      [selectedItemIndex]="selectedItemIndex"
      (itemRemoved)="itemRemoved.emit($event)"
      (itemChanged)="itemChanged.emit($event)"
      (itemSelectedForEdit)="itemSelectedForEdit.emit($event)"
      (mealNameChanged)="mealNameChanged.emit($event)"
      (mealDeleted)="mealDeleted.emit($event)"
    ></app-diet-builder>
  </div>

  <div class="col-12 md:col-6 xl:col-6">
    <div class="totals-section">
      <div *ngIf="hasItemsInAnyMeal">
        <div class="totals">
          <h3 class="section-title">Totais do Plano:</h3>
          <p class="total-item">
            <i class="pi pi-bolt"></i> Calorias: {{ totalKcal }} kcal
          </p>
          <p class="total-item">
            <i class="pi pi-chart-line"></i> Proteínas: {{ totalProtein }} g
          </p>
          <p class="total-item">
            <i class="pi pi-chart-bar"></i> Carboidratos: {{ totalCarbs }} g
          </p>
          <p class="total-item">
            <i class="pi pi-box"></i> Gorduras:
            {{ totalFat | number : "1.1-1" }} g
          </p>
          <p class="total-item total-item-last">
            <i class="pi pi-sliders-h"></i> Fibras:
            {{ totalFiber | number : "1.1-1" }} g
          </p>
        </div>
      </div>
      <div *ngIf="!hasItemsInAnyMeal" class="no-totals-message">
        <p><i>Adicione itens ao plano para ver os totais.</i></p>
      </div>
    </div>
  </div>
</div>
