<div class="plan-summary-layout">
  <div class="diet-builder-section">
    <h3 class="section-title">{{ "patient.title" | t }}</h3>
    <div class="patient-primary-fields">
      <div class="field field-name">
        <label for="patientName">{{ "patient.name" | t }}</label>
        <input
          id="patientName"
          type="text"
          pInputText
          [(ngModel)]="patientData.name"
          (ngModelChange)="emitChange()"
        />
      </div>

      <div class="field field-weight">
        <label for="patientWeight">{{ "patient.weight" | t }}</label>
        <p-inputNumber
          id="patientWeight"
          [(ngModel)]="patientData.weight"
          (ngModelChange)="emitChange()"
          mode="decimal"
          [minFractionDigits]="1"
          [maxFractionDigits]="1"
          suffix=" kg"
        ></p-inputNumber>
      </div>

      <div class="field field-height">
        <label for="patientHeight">{{ "patient.height" | t }}</label>
        <p-inputNumber
          id="patientHeight"
          [(ngModel)]="patientData.height"
          (ngModelChange)="emitChange()"
          mode="decimal"
          [minFractionDigits]="0"
          [maxFractionDigits]="0"
          suffix=" cm"
        ></p-inputNumber>
      </div>

      <div class="field dob-field field-dob">
        <label for="patientDob">{{ "patient.dob" | t }}</label>
        <p-datepicker
          id="patientDob"
          [(ngModel)]="patientData.dob"
          (ngModelChange)="emitChange()"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          styleClass="w-full"
          inputStyleClass="w-full"
          inputId="dob"
        ></p-datepicker>
      </div>
    </div>
    <div>
      <div class="field">
        <label for="patientGoals">{{ "patient.goals" | t }}</label>
        <textarea
          id="patientGoals"
          pTextarea
          [(ngModel)]="patientData.goals"
          (ngModelChange)="emitChange()"
          rows="3"
          [autoResize]="true"
        ></textarea>
      </div>
    </div>
    <div>
      <div class="field">
        <label for="patientObs">{{ "patient.observations" | t }}</label>
        <textarea
          id="patientObs"
          pTextarea
          [(ngModel)]="patientData.observations"
          (ngModelChange)="emitChange()"
          rows="4"
          [autoResize]="true"
        ></textarea>
      </div>
    </div>
  </div>
</div>
