.section-title {
  margin: 0;
  margin-bottom: var(--spacing-sm, 0.5rem);
  color: var(--primary-color);
}

.field {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.25rem;
    font-weight: 500;
    display: block;
  }

  input[pInputText],
  p-calendar,
  p-inputNumber,
  textarea[pInputTextarea] {
    width: 100%;
  }

  p-calendar {
    display: block;
    width: 100%;
  }

  p-inputNumber {
    display: block;
    width: 100%;
  }
}

.full-width-input {
  width: 100%;
}
