:host {
  display: block;
  padding-bottom: var(--spacing-md);
}

.search-container {
  display: flex;
  align-items: stretch;

  .search-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex-grow: 1;
    font-size: 0.875rem;
    padding: 0.4375rem 0.875rem;
  }

  .search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 0.875rem;
    padding: 0.4375rem 0.875rem;
  }
}
