.nutrient-details {
    font-size: 0.85em;
    color: #666;    
  }
  
  mat-list[dense] button[mat-stroked-button] {
      padding: 0 8px;
      line-height: 28px;
      font-size: 0.9em;
  }
  
  mat-divider {
      margin-top: 2px;
      margin-bottom: 2px;
  }