<div class="food-search-card">
  <div class="autocomplete-wrapper p-fluid">
    <p-autoComplete
      inputId="foodAutocomplete"
      [(ngModel)]="selectedFoodAutoComplete"
      [suggestions]="foodSearchSuggestions"
      (completeMethod)="foodSearch.emit($event.query)"
      (onSelect)="foodSelected.emit($event.value)"
      field="name"
      [placeholder]="'meal.search.placeholder' | t"
      [minLength]="3"
      class="autocomplete-input"
      appendTo="body"
      icon="pi pi-search"
      inputStyleClass="p-inputtext p-inputtext-sm"
    >
      <ng-template pTemplate="item" let-foodSuggestion>
        <div class="autocomplete-suggestion-item">
          <div>{{ foodSuggestion.name }}</div>
          <small *ngIf="foodSuggestion.source">[{{ foodSuggestion.source }}]</small>
          <small *ngIf="foodSuggestion.energy_kcal">
            - {{ foodSuggestion.energy_kcal | number: "1.0-0" }} kcal/100g
          </small>
        </div>
      </ng-template>
    </p-autoComplete>
    <span class="food-search-card__target">
      <ng-container *ngIf="selectedMealName; else noTarget">
        {{ "meal.search.target" | t: { mealName: selectedMealName } }}
      </ng-container>
      <ng-template #noTarget>{{ "meal.search.noTarget" | t }}</ng-template>
    </span>
  </div>
</div>
