<div class="meal-management-card">
  <div class="top-inputs-row">
    <div class="meal-add-controls">
      <h3 class="section-title">{{ "meal.section.title" | t }}</h3>
      <div class="meal-input-row">
        <input
          pInputText
          type="text"
          [placeholder]="'meal.new.placeholder' | t"
          id="new-meal-name"
          #newMealNameInput
          class="new-meal-input"
        />
        <button
          pButton
          type="button"
          icon="pi pi-plus"
          [label]="'meal.add' | t"
          (click)="onAddMeal(newMealNameInput)"
          [attr.aria-label]="'meal.addAria' | t"
        ></button>
      </div>
    </div>

    <div class="search-controls">
      <h3 class="section-title">{{ "meal.search.title" | t }}</h3>
      <div class="autocomplete-wrapper p-fluid mb-3">
        <p-autoComplete
          inputId="foodAutocomplete"
          [(ngModel)]="selectedFoodAutoComplete"
          [suggestions]="foodSearchSuggestions"
          (completeMethod)="foodSearch.emit($event.query)"
          (onSelect)="foodSelected.emit($event.value)"
          field="name"
          [placeholder]="'meal.search.placeholder' | t"
          [minLength]="3"
          [forceSelection]="true"
          class="w-full"
          appendTo="body"
          icon="pi pi-search"
          inputStyleClass="p-inputtext p-inputtext-sm"
        >
          <ng-template pTemplate="item" let-foodSuggestion>
            <div class="autocomplete-suggestion-item">
              <div>{{ foodSuggestion.name }}</div>
              <small *ngIf="foodSuggestion.source"
                >[{{ foodSuggestion.source }}]</small
              >
              <small *ngIf="foodSuggestion.energy_kcal">
                - {{ foodSuggestion.energy_kcal | number: "1.0-0" }} kcal/100g
              </small>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>
    </div>
  </div>

  <div class="section-autocomplete-container">
    <div
      class="temporary-list-section"
      *ngIf="selectedFoodsForAdding.length > 0"
    >
      <h4 class="subsection-title heading-xs">
        {{ "meal.selectedFoods" | t }}
      </h4>
      <ul class="temporary-food-list p-reset">
        <li
          *ngFor="let tempFood of selectedFoodsForAdding; let i = index"
          class="temporary-list-item"
        >
          <span>
            {{ tempFood.name }}
            <small *ngIf="tempFood.source">[{{ tempFood.source }}]</small>
          </span>
          <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger p-button-text p-button-sm"
            (click)="foodRemoved.emit(i)"
            [pTooltip]="'meal.removeTemp.tooltip' | t"
            tooltipPosition="top"
            [attr.aria-label]="'meal.removeTemp.aria' | t"
          ></button>
        </li>
      </ul>

      <div class="add-to-meal-controls">
        <p-dropdown
          [options]="meals"
          [(ngModel)]="selectedMealName"
          (ngModelChange)="selectedMealNameChange.emit($event)"
          optionLabel="name"
          optionValue="name"
          [placeholder]="'meal.select.placeholder' | t"
          class="meal-target-dropdown"
          appendTo="body"
        ></p-dropdown>
        <button
          pButton
          type="button"
          [label]="'meal.addToMeal' | t"
          icon="pi pi-plus-circle"
          class="p-button-success"
          (click)="addFoodsToMeal.emit()"
          [disabled]="selectedFoodsForAdding.length === 0 || !selectedMealName"
          [attr.aria-label]="'meal.addToMealAria' | t"
        ></button>
      </div>
    </div>
  </div>
</div>
